:root{
    --color: #006756;
    --secondary-color: #000;
    --black: #000;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
@keyframes preloader {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}
/*body{
    background-color: #000;
    color: #FFAA33;
}*/
body{
    background:rgb(252, 250, 250);
}
.onhold{
    color: grey;
}
.pending{
    color: yellow;
}
.declined{
    color: red;
}
.completed{
    color: green;
}
a{
    color: var(--color);
    text-decoration: none;
}
/* COLOURS */
.text-white{
    color: white !important;
}
.text-black{
    color: #000000 !important;
}
.text-red{
    color: red !important;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.error{
    display: none;
    background-color: #fff;
    color: red;
    width: 90%;
    padding: 10px;
    box-shadow: 1px 1px 20px rgb(223, 217, 217);
    font-size: 10pt;
    text-align: center;
    animation: 0.5s shake linear;
    font-family: 'Montserrat',serif;
}
.preloader{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    animation: preloader 1s linear infinite;
}
.wrapper{
    margin: auto;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10%;
    opacity: 0;
    transition: 1.5s;
}
.wrapper img{
    display: block;
    margin: auto;
}
.wrapper p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper .welcome{
    font-weight: bold;
}
.wrapper .wraptext{
    line-height: 2;
    font-size: 11pt;
    font-family: 'Lato', serif;
}
.wrapper a{
    color: var(--secondary-color);
    display: block;
    text-decoration: none;
    background-color: var(--color);
    margin: auto;
    margin-bottom: 15px;
    width: 80%;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--color);
    font-size: 11pt;
    text-align: center;
}
.wrapper .login{
    color: var(--black);
    background-color: var(--secondary-color);
}
.wrapper .info{
    font-family: 'Lato', serif;
    font-size: 10pt;
}
.wrapper .info span{
    color: var(--color);
}
/*Home page ends*/


/* Login and register page start*/
.main-login{
    font-family: 'Lato', serif;
    margin: 5px;
    color: var(--color);
    padding-top: 100px;
}
.svg{
    position: absolute;
    width: 150px;
    aspect-ratio: 1/1;
    float: right;
    right: 0%;
    top: 0%;
    opacity: 0.4;
}
.svg_down{
    position: absolute;
    width: 200px;
    aspect-ratio: 1/1;
    left: 0%;
    opacity: 0.4;
    /* bottom: 0%; */
}
.svg_float{
    position: absolute;
    width: 400px;
    aspect-ratio: 1/1;
    left: 0%;
    opacity: 0.3;
    /* bottom: 0%; */
}
.main-login .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}
.main-login .header .login-back, .funding .header .login-back{
    border: 1px solid var(--color);
    padding: 5px;
    padding-bottom: 10px;
    width: 40px;
    height: 20px;
    text-align: center;
    font-size: 13pt;
    border-radius: 7px;
}
.main-login > div{
    margin: 15px;
    line-height: 2;
}
.main-login .next-div{
    margin-bottom: 5%;
}
.main-login > div p:nth-child(1){
    font-weight: bold;
    font-size: 14pt;
}
.main-login > div p:nth-child(2){
    font-size: 11pt;
}
.main-login .form-control{
    /*box-shadow: 1px 1px 20px rgb(204, 198, 198);*/
    padding: 5px;
    border-radius: 3px;
}
.main-login .form-control .form-group{
    font-family: 'Open Serif';
    border: 1px solid var(--color);
    border-radius: 4px;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.main-login .form-control:last-child .form-group{
    margin-bottom: 0px;
}
.main-login .form-control .form-group input{
    width: 90%;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid transparent;
    caret-color: var(--color);
}
.main-login .form-control .form-group input:focus-within{
    outline: none;
}
.main-login .form-control .fpassword{
    text-align: right;
    font-size: 10pt;
}
.main-login .form-control .btn-login{
    width: 100%;
    background-color: var(--color);
    color: var(--secondary-color);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.main-login .form-control p:last-child{
    text-align: center;
    font-size: 11pt;
    font-family: 'Lato', serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-login .form-control p:last-child a{
    color: var(--color);
    text-decoration: none;
}
/* Register and login ends */


/* Dashboard starts */
.dashboard, .funding{
    margin: 10px;
}
.dashboard .header, .funding .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15pt;
}
.dashboard .header .picon{
    clip-path: circle();
}
.dashboard .header img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(204, 198, 198);
    padding: 5px;
}
.dashboard .header .head-icons i{
    /*box-shadow: 1px 1px 10px rgb(223, 217, 217);*/
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    color: var(--color);
    background-color: #fff;
}
.dashboard .next-div{
    font-family: 'Montserrat';
    line-height: 1.5;
}
.dashboard .next-div p:nth-child(1){
    font-weight: bold;
    font-size: 15pt;
    margin-top: 10px;
}
.dashboard .next-div p:nth-child(2){
    font-family: 'Lato';
    color: grey;
    font-size: 10pt;
}
.dashboard .baldiv{
    background-color: var(--color);
    width: 100%;
    height: 180px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.dashboard .baldiv p{
    text-align: center;
    color: var(--secondary-color);
    font-family: 'Lato';
    line-height: 2;
}
.dashboard .baldiv p:nth-child(1){
    padding-top: 20px;
}
.dashboard .baldiv p:nth-child(2){
    font-weight: bold;
    font-size: 18pt;
}
.dashboard .baldiv p:nth-child(2) span:nth-child(2){
    font-size: 10pt;
}
.dashboard .baldiv span i{
    font-size: 15pt;
    font-weight: bolder;
}
.dashboard .baldiv div{
    text-align: center;
    background-color: #fff;
    color: var(--color);
    width: 50%;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    border-radius: 15px;
}
.dashboard .baldiv div i{
    font-size: 12pt;
}
.dashboard .qaction{
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Lato';
    margin-top: 30px;
    margin-bottom: 30px;
}
.dashboard .qaction span:nth-child(2){
    float: right;
    color: var(--color);
}
.dashboard .action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dashboard .action .actions{
    /*box-shadow: 1px 1px 10px rgb(204, 198, 198);*/
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: var(--color);
    background-color: #fff;
}
.dashboard .action p{
    margin-top: 10px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
}
.dashboard .activities{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 9pt;
}
.dashboard .activities .activitydes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.dashboard .activities .activitydes div, .dashboard .activities .activitydate div{
    margin: 5px;
}
.dashboard .activities .activitydes i{
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15pt;
    padding: 10px;
    background-color: var(--color);
    color: var(--secondary-color);
}
.dashboard footer, .services footer{
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0%;
    padding: 15px;
    background-color: var(--secondary-color);
    width: 88%;
}
.dashboard footer, .services footer div {
    flex-grow: 1;
}
  
.dashboard footer div, .services footer :not(:last-child) {
    margin-right: 50px;
}

.dashboard footer div, .services footer i{
    font-size: 16pt;
    /*box-shadow: 1px 1px 10px rgb(204, 198, 198);*/
    border-radius: 10px;
    padding: 13px;
    color: var(--secondary-color);
    background-color: var(--color);
}
.dashboard footer div a i, .services footer a i{
    color: var(--secondary-color);
}
/*Dashboard page ends*/
.dashboard .buy{
    padding: 10px;
    background-color: #fff;
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    box-shadow: 1px 1px 20px rgb(204, 204, 202);
}
.dashboard .buy .updiv{
    background-color: rgb(238, 233, 233);
    color: var(--color);
    width: 80px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.dashboard .buy div{
    margin-bottom: 30px;
}
.dashboard .buy div label{
    display: block;
    font-size: 10pt;
    margin-bottom: 10px;
}
.dashboard .buy div input{
    height: 50px;
    width: 60%;
    font-size: 30pt;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(223, 217, 217);
    caret-color: var(--color);
}
.dashboard .buy div .side-span{
    margin-left: 20px;
    font-size: 17pt;
    font-family: 'Montserrat', serif;
}
.dashboard .buy div .wallet-address{
    font-size: 12pt;
    font-family: 'Lato', serif;
    width: 300px;
}
.dashboard .buy div input::placeholder{
    color: grey;
}
.dashboard .buy div input:focus-within{
    outline: none;
}
.dashboard .buy div button{
    background-color: var(--color);
    color: var(--black);
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 20px;
    /*display: inline-block;
    max-width: 200px;
    min-width: auto;*/
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.dashboard .buy div #timer{
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
}
.dashboard #wallet_div, .dashboard #time_div{
    display: none;
}
.dashboard .buy div nav{
    display: flex;
    font-size: 11pt;
    line-height: 1.1;
    font-family: 'Open Sans', serif;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
}
.dashboard .buy div nav i{
    color: var(--color);
    margin-left: 10px;
}
